@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

fieldset {
    border: 0;
    padding: 0;
}

pre {
    margin: 0;
}
